coreschema==0.0.4
decorator==5.1.1
Django==4.2.1
django-extensions==3.2.1
django-filter==23.2
django-q==1.3.9
django-relativedelta==2.0.0
django-rest-swagger==2.2.0
djangorestframework==3.14.0
Faker==18.7.0
ipython==8.13.2
Pygments==2.15.1
python-dateutil==2.8.2
PyYAML==6.0
redis==3.5.3
requests==2.30.0
uritemplate==4.1.1

